### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Object files

*.o

# Libraries

*.a
*.lib
*.la
*.gch

# Executables

*.out
*.exe
*.app

# Debug files

*.dSYM/

# Junk

*.DS_Store
*.swp
